:root {
    --main-color: #ff0000;
    --main-background: #f6f6f6;
    --blue-color: #288ad6;
    --black-color:#333;
}

/* Mobile and Tablet: width < 1024px */
@media only screen and (max-width: 63.9375em) {

    /* HEADER */
    
    #header {
        padding: 6px 0;
    }

    .header__contact{
        padding-right: 0;
        padding-left: 10px;
    }

    .header__contact-text {
        display: none;
    }

    .header__search {
        margin: 0 15px;
    }

    .header__right-option {
        display: none;
    }
    
    .menu_mobile {
        display: initial;
        padding-right: 10px;
        font-size: 40px;
    }
     /* Menu */
     .mega_menu_mb{
        width: 86%;
    }
   
    .mega_menu_mb .highlight{
        width: 86%;
    
    }
    .mega_menu_mb a{
        color: #333;
    }
    .mega_menu_mb i{
        color: #333;
    }
    .mega_menu_mb .highlight .back_icon{
        position: absolute;
        left: 0;
        margin-left: 30px;  
        top: 25%;
    }
    .mega_menu_mb .highlight i{
        font-size: 30px;
    }
    .toggle_parent.active+.highlight{
        left: 0;
        top:58px;
    }
    .menu_show{
        left: 0;
        top:58px;
    }
    .mega_menu_mb .close_all{
        position: absolute;
        right: -40px;
        background: #000;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        top: 10px;
    }
    .mega_menu_mb .close_all i{
        color: #fff;
       font-size: 30px;
    }
    /* --CONTENT-- */
    #content .container {
        margin-top: 12px;
        padding-left: 4px;
        padding-right: 4px;
    }

    /* PRODUCT FRAME */

    /* FRAME RIGHT*/

    .frame-right-mobile {
        display: initial;
    }

    /*END PRODUCT FRAME  */

    /* <!--THÔNG TIN SẢN PHẨM VÀ VIDEO SẢN PHẨM --> */

    .characteristic-videos {
        display: block;
        height: auto;
    }

    .characteristic-videos .characteristic-l,
    .characteristic-videos .video-r {
        float: none;
        width: 100%;
    }

    .characteristic-videos .video-r .video_one_block_body .video-item {
        min-height: auto;
    }

    .characteristic-videos .video-r {
        margin-top: 20px;
    }

    .characteristic-videos .video-r .video_one_block_body .video-item img {
        position: initial;
        transform: none;
    }

    .characteristic-videos .video-r .video_one_block_body .list_video {
        display: flex;
    }

    .characteristic-videos .video-r .video_one_block_body .list_video .video_item {
        float: none;
    }

    /* FRAME BOT */

    .frame_b .frame_b_l {
        width: 100%;
        padding: 0;
    }

    /* ĐÁNH GIÁ VÀ COMMENT */
    .tab_content_bottom .toprt .crt {
        height: auto;
        flex-direction: column;
    }

    .tab_content_bottom .toprt .crt .rcrt {
        width: 100%;
        border-right: none;
    }

    .tab_content_bottom .toprt .crt .r {
        padding-left: 0;
        font-size: 11px;
    }

    .tab_content_bottom .toprt .crt .r .t {
        font-size: 12px;
    }

    .tab_content_bottom .toprt .crt .bcrt {
        width: 100%;
        margin-bottom: 5px;
    }

    .tab_content_bottom .toprt .crt .bcrt a {
        width: 100%;
        background-color: #fff;
        display: block;
        color: var(--main-color);
        border: 1px solid var(--main-color);
    }

    /* END CONTENT */
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    /* CLASS CHUNG */
    .tablet-hide {
        display: none !important;
    }

    /* NÚT NỔI */
    .fix-btn-buy {
        display: block;
    }

    /* HEADER */

    /* CONTENT */
    /* PRODUCT FRAME */
    #content .product-frame{
        margin-bottom: 30px;
    }
    /* FRAME LEFT */
    .product-frame .frame-left {
        width: 55%;
    }

    /* FRAME CENTER */
    .product-frame .frame-center {
        width: 45%;
    }

    .frame-center .mobile-flex {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    .frame-center .promotion {
        order: 1;
    }

    /* END PRODUCT */

    /* PHẦN LIST SẢN PHẨM */

    .list_vertical {
        flex-wrap: wrap;
    }

    .list_vertical .item-related {
        width: calc(50% - 10px);
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    /* END CONTENT */

    .header__search {
        margin: 0 70px;
    }

    /* MENU */
    #content .menu {
        display: none;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {

    /* CLASS CHUNG */

    .mobile-hide {
        display: none !important;
    }

    /* NÚT NỔI */
    
    .bottom-button {
        right: 0;
        left: auto;
        bottom: 30%;
    }

    .bottom-button i {
        font-size: 42px;
    }

    .mobile-call-button,
    .fix-btn-buy {
        display: block;
    }

    /* HEADER */

    /* PHẦN breadcrumbs */
    .breadcrumbs__wrapper .breadcrumb{
        font-size: 13px;
        color: #131518;
    }
    
    /* MENU */
    #content > .menu {
        display: none;
    }


    /* PHẦN SẢN PHẨM  */


    /* TIÊU ĐỀ SẢN PHẨM */
    .product .product_name {
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.4;
    }

    .product_name h1 {
        font-size: 16px;
        font-weight: bold;
    }

    .product_name .text_small_dt {
        font-size: 14px;
    }

    .rate .text-rate {
        padding-bottom: 2px;
    }

    /* FRAME LEFT */

    /* HÌNH ẢNH SẢN PHẨM */
    #content .product-frame {
        flex-direction: column;
    }

    .product-frame .frame-left {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 0;
    }

    .frame-left__hit-share,
    .frame-left_produce-info,
    .frame-left__banner {
        display: none;
    }

    .frame-left__img_hidden {
        width: 21%;
    }

    .frame-left__img {
        width: 58%;
    }

    .frame-left__thumbs {
        width: 21%;
    }

    .frame-left__thumbs .item i {
        padding: 5px 5px;
        font-size: 30px;
    }
    
    .text-icon-thumbs {
        font-size: 11px;
    }
    
    /* FRAME CENTER */

    .frame-center .mobile-flex {
        display: flex;
        flex-direction: column;
    }

    .product-frame .frame-center  {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .frame-center .price .price-current {
        font-size: 22px;
    }

    .attributes .ground-extend-item {
        flex-direction: column;
        align-items: initial;
        padding-bottom: 0px;
    }

    .attributes .item-extend-name {
        width: calc(33.3333% - 12px);
    }

    .frame-center .promotion  {
        order: 1;
        margin-bottom: 20px;
    }

    .frame-center .row-btn + .row-btn {
        flex-direction: column;
    }

    .frame-center .row-btn .btn-buy {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .frame-center .row-btn .postpaid {
        margin-bottom: 10px;
    }

    .mobile-product-info {
        display: block;
        margin: auto;
        margin-bottom: 15px;
        padding: 0 10px;
    }

    .mobile-product-info .produce-info {
        line-height: 22px;
        color: #565656;
    }

    /* FRAME RIGHT */

    .product-frame .frame-right {
        display: none;
    }

    /* <!--THÔNG TIN SẢN PHẨM VÀ VIDEO SẢN PHẨM --> */

    /* FRAME BOT */
    .frame_b {
        display: block;
    }

    .frame_b_r {
        display: none;
    }

    /* ĐÁNH GIÁ VÀ COMMENT */
    .tab_content_bottom .toprt .crt {
        height: auto;
        flex-direction: column;
    }

    .tab_content_bottom .toprt .crt .rcrt {
        width: 100%;
        border-right: none;
    }

    .tab_content_bottom .toprt .crt .r {
        padding-left: 0;
        font-size: 11px;
    }

    .tab_content_bottom .toprt .crt .r .t {
        font-size: 12px;
    }

    .tab_content_bottom .toprt .crt .bcrt {
        width: 100%;
        margin-bottom: 5px;
    }

    .tab_content_bottom .toprt .crt .bcrt a {
        width: 100%;
        background-color: #fff;
        display: block;
        color: var(--main-color);
        border: 1px solid var(--main-color);
    }

    /*  ĐÁNH GIÁ VÀ COMMENT */

    .pagination {
        margin-bottom: 20px;
    }


    /* -- PHẦN REVIEWER NÓI VỀ DIENTHOAIHAY -- */
    .over-flow-x {
        overflow-x: scroll;
    }

    .block_testimonials .content {
        width: 1045px;
    }

    .post3 .block_testimonials .content .item {
        width: 250px;
    }
    
    /* -- END CONTENT-- */

    /* FOOTER */
    #footer {
        margin-left: 4px;
        margin-right: 4px;
        padding: 30px 15px 20px;
        margin-bottom: 40px;
    }

    .footer__top {
        flex-direction: column;
    }
    .footer__menu {
        width: 100%;
        flex-direction: column;
    }

    .level0 {
        border: 1px solid #fff;
        position: relative;
        margin-bottom: 10px;
    }

    .level0 a {
        padding: 8px;
    }

    .extendsion-btn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        padding: 6px;
        font-size: 22px;
    }
    
    .level0 ul li{
        margin-left: 22px;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
    }

    .level0 ul li:last-child {
        border-bottom: none;
        margin-bottom: 0px;
    }

    .address__footer {
        width: 100%;
        margin-top: 10px;
    }

}